@charset "UTF-8";

body {
	margin: 0;
}

main {
	margin: 0;
    width: 100%;
    height: 100vh;
    background-image: url(https://www.huissiers41-tc.fr/assets/img/p5/2_vente_img_1.jpg?t=1649748636);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
}

#connect-div h2 {
	text-align: center;
}

#connect-div select {
	display : inline-block;
}

#connect-div {
	text-align: center;
    margin: 0 auto;
    padding: 2%;
    width: fit-content;
    box-shadow: 0px 3px 5px black;
    font-family: cursive;
    color: white;
    background-color: #000000d9;
}

#connect-div form {
	display: grid;
    gap: 3px;
}

#connect-div input, button, select, option {
	background-color: transparent;
    border-color: deepskyblue;
    border-radius: 3px;
    margin: 10px;
    font-size: 17px;
    color: white;
}

#connect-div button {
  width: 200px;
  height: 40px;
  font-size: 16px;
  padding: 12px;
  margin: 12px;
}

#connect-div form {
	text-align: center;
	position: relative;
	top: 20px;
}