@charset "UTF-8";

body {
	margin: 0;
    width: 100%;
    height: 100vh;
    background-image: url(https://static.actu.fr/uploads/2022/05/ventes-aux-encheres-adobe-stock-960x640.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    font-family: cursive;
}

a {
	color: white;
}

img {
	max-height: 100px;
}

#connect-div {
	text-align: center;
    margin: 0 auto;
    padding: 3%;
    width: fit-content;
    box-shadow: 0px 5px 5px #00000094;
    font-family: cursive;
    color: white;
    background-color: #000000d9;
    border-radius: 10px;
}

form {
	display: grid;
}

hr {
	border-color: #ffffff30;
    border-style: solid;
    border-width: 2px;
    border-radius: 2px;
}

input {
	background-color: transparent;
    border-color: deepskyblue;
    border-radius: 3px;
    margin-top: 10px;
    font-size: 17px;
    color: white;
    font-family: cursive;
    padding: 5px;
    text-align: center;
}


input[type="submit"]:hover {
	color: black;
	background-color: white;
	transition: all 500ms;
}

input[type="submit"] {
	cursor: pointer;
	margin-top: 50px;
	transition: all 500ms;
}